@model hhs_p6_webshop_project.Models.ProductModels.Product
<link href="~/css/product-single.css" rel="stylesheet" />
@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
    ViewData["PinkBackground"] = true;
}

<div class="single-container">
    <div class="row">
        <div class="back-to-dress-finder">
            <a asp-action="Index"><img src="/images/products/white-arrow-back.png" alt="<" />Terug naar overzicht</a>
        </div>
    </div>
    <div class="row">
        <div class="product-details">
            <div class="side-pictures">
                <div class="small-picture">
                    <img src="~/images/uploads/@Html.DisplayFor(model => model.Description)" alt="" />
                </div>
                <div class="small-picture">
                    <img src="~/images/uploads/@Html.DisplayFor(model => model.Description)" alt="" />
                </div>
                <div class="small-picture">
                    <img src="~/images/uploads/@Html.DisplayFor(model => model.Description)" alt="" />
                </div>
            </div>
            <div class="big-picture">
                <img src="~/images/uploads/@Html.DisplayFor(model => model.Description)" alt="" />
            </div>
            <div class="product-information-container" ">
                <div class="product-information">
                    <h4>@Html.DisplayFor(model => model.Name)</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
</div>
