@using hhs_p6_webshop_project.Models.ProductModels
@model hhs_p6_webshop_project.Models.ProductModels.ProductView

<link href="~/css/products.css" rel="stylesheet" />
<script src="~/js/product-overview.js"></script>

@{
    ViewData["Title"] = "Dressfinder";
    ViewData["PinkBackground"] = true;
}

<h2>Dressfinder</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 product-filters">
            <h2>Filters</h2>
            <div class="filters-container">
                <h3>Prijs</h3>
                <div>
                    Stuff 1
                </div>
            </div>

            <div class="filters-container">
                <h3>Kleur</h3>
                <div>
                    Stuff 2
                </div>
            </div>

        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row ">
                <div class="col-sm-12 product-overview-options">
                    <!-- TODO: Sorteren met deze button werkt nog niet -->
                    <strong class="select-label">
                        Sorteer op:
                    </strong>
                    <select>
                        <option>Prijs Hoog/Laag</option>
                        <option>Prijs Laag/Hoog</option>
                        <option>Naam oplopend</option>
                        <option>Naam aflopend</option>
                        <option>Populariteit</option>
                    </select>
                </div>
            </div>
            <div class="row product-overview">
                @Html.Partial("ProductOverview", Model);
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-md-12 col-full-width">
        <img class="img-full-width" src="~/images/dressfinder-banner.jpg" />
    </div>
</div>