@using hhs_p6_webshop_project.Models.ProductModels
@model hhs_p6_webshop_project.Models.ProductModels.ProductView

<link href="~/css/products.css" rel="stylesheet" />
<script src="~/js/product-overview.js"></script>

@{
    ViewData["Title"] = "Dressfinder";
    ViewData["PinkBackground"] = true;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="row">
    <h2 class="col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">Dressfinder</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="create-btn pull-right col-sm-2 col-lg-2 col-xs-2">
            <a asp-action="Create" class="btn">Create New</a>
        </div>
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 product-filters">
            <h2>Filters</h2>

            <div class="filters-container">
                <h3>Prijs</h3>
                <div id="filter-price">
                    <div id="filter-price-slider"></div>
                    <input type="text" id="filter-price-amount" readonly />
                </div>
            </div>

            <div class="filters-container">
                <h3>Kleur</h3>
                <div id="filter-color">
                    <ul>
                        <li>
                            <input id="filter-color-1" type="checkbox" value="Roze" />
                            <label for="filter-color-1">Roze (?)</label>
                        </li>
                        <li>
                            <input id="filter-color-2" type="checkbox" value="Grijs" />
                            <label for="filter-color-2">Grijs (?)</label>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row ">
                <div class="col-sm-12 product-overview-options">
                    <!-- TODO: Sorteren met deze button werkt nog niet -->
                    <strong class="select-label">
                        Sorteer op:
                    </strong>
                    <select id="filters-sort">
                        <option value="0">Prijs Laag/Hoog</option>
                        <option value="1">Prijs Hoog/Laag</option>
                        <option value="3">Naam oplopend</option>
                        <option value="2">Naam aflopend</option>
                    </select>
                </div>
            </div>
            <div class="row product-overview">
                @* @Html.Partial("ProductOverview", Model) *@
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-md-12 col-full-width">
        <img class="img-full-width" src="~/images/dressfinder-banner.jpg" />
    </div>
</div>