@using Microsoft.CodeAnalysis.CSharp.Syntax
@using hhs_p6_webshop_project.Models.ProductViewModels;
@model ProductViewModel
<link href="~/css/products.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
    ViewData["PinkBackground"] = true;
}

<h2>Dressfinder</h2>

@if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 product-filters">
            <h2>Filteren</h2>

            @foreach (var item in Model.Filters) {
            <div class="filter filter-@item.FilterType.Name">
                <h4>@item.FilterType.Name</h4>
                <ul class="filter-list">
                    @foreach (var value in item.Values) {
                    <li>
                        <input type="checkbox" name="@item.FilterType.Name" id="value_@value.PropertyValueId" />
                        <label class="no-user-select" for="value_@value.PropertyValueId">@value.Value</label>
                    </li>
                    }
                </ul>
            </div>
            }
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row ">
                <div class="col-sm-12 product-overview-options">
                    <div>
                        <!-- TODO: Sorteren met deze button werkt nog niet -->
                        <strong class="select-label">
                            Sorteer op:
                        </strong>
                        <select>
                            <option>Prijs Hoog/Laag</option>
                            <option>Prijs Laag/Hoog</option>
                            <option>Naam oplopend</option>
                            <option>Naam aflopend</option>
                            <option>Populariteit</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row product-overview">
                @Html.Partial("ProductOverview", Model);
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-md-12 col-full-width">
        <img class="img-full-width" src="~/images/dressfinder-banner.jpg" />
    </div>
</div>