@model hhs_p6_webshop_project.Models.NewsModels.NewsArticleView

@{
    ViewData["Title"] = "Blog - Verwijder " + @Model.NewsArticle.Name;
}

<h2>Verwijder @Model.NewsArticle.Name</h2>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsArticle.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsArticle.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            <a asp-action="Index">Terug naar overzicht</a>
        </div>
    </form>
</div>
