@model hhs_p6_webshop_project.Models.AppointmentModels.Appointment

@{
    ViewData["Title"] = "Maak afpsraak";
}

<div class="text-banner">
    <h1>Trouwjurken</h1>
    <h2>Maak je pasafspraak</h2>
</div>

<form asp-action="Create">
    <div class="row" id="create_appointment">
        <div class="create-appointment-part col-md-2 col-sm-12">

        </div>
        <div class="create-appointment-part col-md-5 col-sm-12">
            <h3>Vul hier jouw gegevens in</h3>
            <div class="form-horizontal">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DateMarried" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="DateMarried" type="date" class="form-control" />
                        <span asp-validation-for="DateMarried" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Mail" type="email" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Phone" type="tel" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
        <div class="create-appointment-part col-md-5 col-sm-12 hm-pink-dark white-text">
            <h3>Selecteer een datum</h3>
            <div class="hm-pink">
                DO 15 SEPTEMBER 2016 OM 09:30 U
            </div>
            <span>
                Vul je persoonlijke gegevens in om de pasafspraak compleet te maken.
            </span>

            <div id="calendar">

            </div>

            <div class="form-group">
                <label asp-for="AppointmentDateTime" class="col-md-12 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="AppointmentDateTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="AppointmentDateTime" class="text-danger" />
                </div>
            </div>

        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Aanmaken" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
