@using Microsoft.AspNetCore.Mvc.Rendering
@model hhs_p6_webshop_project.Models.ProductModels.ProductImage

@{
    ViewData["Title"] = "Bekijk afbeelding";
}

<h2>Bekijk afbeelding</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductImageId">Bewerk</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>