.back-to-dress-finder{
    padding:10px;
}

.back-to-dress-finder a{
    color:#4c4c4c;
    text-decoration:underline;
    transition: all .15s ease-in-out;
}

.back-to-dress-finder a:hover{
    text-decoration:none;
}

.single-container{
    width: 80%;
    display:block;
    margin:auto;
    margin-top:2%;
}

.product-details{
    margin-top:2%;
    width:100%;
    display:block;
    position:relative;
}

.side-pictures{
    display:block;
    width:15%;
    height:750px;
}

.small-picture{
    width:100%;
    display:block;
    margin-bottom:23px;
    overflow:hidden;
}

.side-pictures img{
    width:auto;
    min-height:235px;
    height:235px;
    display:block;
    top: 10%;
    left: 10%;
    transform: translateY(-10%); 
    transform: translateX(-10%);
}

.big-picture{
    width:50%;
    height:750px;
    display:block;
    position:absolute;
    margin-left:17%;
    top:0;
    overflow:hidden;
}

.big-picture img{
    min-height:750px;
    top: 10%;
    left: 10%;
    transform: translateY(-10%); 
    transform: translateX(-10%);
}

.product-information-container{
    width: 30%;
    height: 750px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.product-information h4{
    font-weight: bold;
    font-size: 1.5em;
}