/*--- Options above the product overview ---*/
.product-overview-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.product-overview-options .select-label {
    font-size: 1.2em;
    margin-right: 10px;
}
/*--- Product overview ---*/
.product-overview {
    margin: 0;
    padding: 0;
}

    .product-overview .product {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 0px;
        padding: 0;
        float: left;
        display: block;
        position: relative;
        z-index: 1;
        /*Edit height when adding elements! Beun!*/
        height: 432px;
    }

        .product-overview .product:nth-child(1),
        .product-overview .product:nth-child(4n) {
            clear: left;
        }

        .product-overview .product:nth-child(3n) {
            margin-right: 0;
        }

.product a:hover {
    text-decoration: none;
}

.vertical-align {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.horizontal-align {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.vertical-align img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}

.product .horizontal-align,
.product .vertical-align {
    height: 380px;
}

    .product .vertical-align img {
        max-height: 380px;
    }

.product .product-image {
    display: block;
    width: 100%;
    height: auto;
}

.product .product-title {
    font-family: nexa-bold;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #333;
}

.product .product-sku {
    display: none;
    font-size: 16px;
    line-height: 22px;
    color: #444;
}

.product .product-colors {
    margin-top: 10px;
    display: none;
}

.product-colors .color-circle {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid #e2e2e2;
}

.product:hover .product-colors,
.product:hover .product-sku {
    display: block;
}

/*--- Styles when hovering a product ---*/
.product > a {
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
}

.product:hover {
    z-index: 2;
}

    .product:hover > a {
        position: absolute;
        width: calc(100% + 62px);
        margin-left: -31px;
        margin-top: -21px;
        float: left;
        background-color: #fff;
        padding: 20px 30px;
        z-index: 2;
        border: 1px solid #e2e2e2;
    }

/*only for administrators*/
.product-edit-buttons {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 3;
    opacity: 0;
}

.product:hover .product-edit-buttons {
    opacity: 1;
}

.product-edit-buttons a {
    width: 90%;
    margin: 5px 5%;
    display: block;
    text-align: center;
}
