/*--- Options above the product overview ---*/
.product-overview-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

    .product-overview-options .select-label {
        font-size: 1.2em;
        margin-right: 10px;
    }
/*--- Product overview ---*/
.product-overview {
    margin: 0;
    padding: 0;
}

.product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 0px;
    padding: 0;
    float: left;
    display: block;
    position: relative;
    z-index: 1;
    /*Edit height when adding elements! Beun!*/
    height: 432px;
}

.product-overview .product:nth-child(1),
.product-overview .product:nth-child(4n) {
    clear: left;
}

.product-overview .product:nth-child(3n) {
    margin-right: 0%;
}

.product a:hover {
    text-decoration: none;
}

.vertical-align {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.horizontal-align {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.vertical-align img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}

.product .horizontal-align,
.product .vertical-align {
    height: 380px;
}

    .product .vertical-align img {
        max-height: 380px;
    }

.product .product-title {
    font-family: nexa-bold;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #333;
}

.product .product-sku {
    display: none;
    font-size: 16px;
    line-height: 22px;
    color: #444;
}

.product .product-colors {
    margin-top: 10px;
    display: none;
}

.product-colors .color-circle {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid #e2e2e2;
}

.product:hover .product-colors,
.product:hover .product-sku {
    display: block;
}

/*--- Styles when hovering a product ---*/
.product > a {
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
}

.product:hover {
    z-index: 2;
}

    .product:hover > a {
        position: absolute;
        width: calc(100% + 62px);
        margin-left: -31px;
        margin-top: -21px;
        float: left;
        background-color: #fff;
        padding: 20px 30px;
        z-index: 2;
        border: 1px solid #e2e2e2;
    }

/*only for administrators*/
.product-edit-buttons {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 3;
    opacity: 0;
}

.product:hover .product-edit-buttons {
    opacity: 1;
}

.product-edit-buttons a {
    width: 90%;
    margin: 5px 5%;
    display: block;
    text-align: center;
}

/*--- Product filter ---*/
.filter-list {
    list-style: none;
    min-height: 1px;
    padding: 0 0 0 10px;
}

    .filter-list li {
        width: 100%;
        float: left;
    }

    .filter-list input {
        height: 15px;
        margin: 5px 10px 5px 0;
        float: left;
    }

    .filter-list label {
        float: left;
        cursor: pointer;
        line-height: 30px;
        margin: 0;
    }

/*--- Single product page ---*/
.back-to-dress-finder {
    padding: 10px;
}

    .back-to-dress-finder a {
        color: #4c4c4c;
        text-decoration: underline;
        transition: all .15s ease-in-out;
    }

        .back-to-dress-finder a:hover {
            text-decoration: none;
        }

.single-container {
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 2%;
}

.product-details {
    margin-top: 2%;
    width: 100%;
    display: block;
    position: relative;
}

/*--- Product images ---*/
.side-pictures {
    display: block;
    width: 20%;
    float: left;
    height: 750px;
}

.small-picture,
.big-picture {
    position: relative;
    overflow: hidden;
    float: left;
}

    .small-picture img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        z-index: 0;
        opacity: 1;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
    }


    .small-picture:nth-child(3) img {
        top: 0;
        -webkit-transform: translateY(0%) translateX(-50%);
        -moz-transform: translateY(0%) translateX(-50%);
        transform: translateY(0%) translateX(-50%);
    }

    .small-picture:nth-child(1) img {
        top: 100%;
        -webkit-transform: translateY(-100%) translateX(-50%);
        -moz-transform: translateY(-100%) translateX(-50%);
        transform: translateY(-100%) translateX(-50%);
    }


.small-picture {
    width: 100%;
    height: 235px;
    margin-bottom: 23px;
}

.big-picture {
    width: 50%;
    margin-left: 2%;
    height: 750px;
}

    .big-picture .horizontal-align,
    .big-picture .vertical-align {
        height: 750px;
    }

        .big-picture .vertical-align img {
            max-height: 750px;
        }

/*--- Product information ---*/
.product-information-container {
    width: 25%;
    margin-left: 3%;
    float: left;
    height: 750px;
    display: block;
}

.product-information h4 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.product-information span, .product-information p {
    font-size: 1em;
    font-weight: normal;
}

.product-information-undertext {
    margin-top: 25px;
}

.product-information-attributes {
    margin-top: 25px;
}

    .product-information-attributes a {
        color: #F0597C;
    }

    .product-information-attributes .make-appointment {
        border: 3px solid #F0597C;
        border-radius: 0px;
        background-color: #F0597C;
        color: #FFF;
        padding: 10px 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .9em;
        font-family: nexa-black;
        position: absolute;
        margin-top: 15px;
    }

        .product-information-attributes .make-appointment:hover {
            border: 3px solid #F0597C;
            border-radius: 0px;
            background-color: transparent;
            color: #F0597C;
            text-decoration: none;
        }

.product-make-appointment-container {
    margin-top: 65px;
    height: 150px;
    width: auto;
}

/*--- Additional products (made by Henk) ---*/

.additions-container {
    width: 100%;
    height: 100px;
    display: block;
    position: relative;
    margin-top: 80px;
    text-align: center;
}

.additions {
    display: block;
    line-height: 50px;
    border: 0;
    border-top: 2px solid #343434;
    margin: 1em 0;
    padding: 0;
}

.additions-text {
    position: relative;
    color: #343434;
    line-height: 50px;
    padding: 20px;
    background-color: #fff;
    top: -40px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: nexa-black;
}

.addition-images-wrapper {
    width: 100%;
    height: 520px;
    display: block;
    float: left;
    position: relative;
    margin-left: 30px;
}

.addition-item {
    float: left;
    display: block;
    width: 280px;
    height: 500px;
}

    .addition-item span {
        display: block;
        float: left;
        padding: 10px;
        font-family: nexa-regular;
        font-size: 1em;
        font-weight: bold;
        transition: all 250ms ease-in-out;
    }

.addition-image {
    display: inline-block;
    float: left;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    background-color: #fff;
    transition: all 250ms ease-in-out;
    padding: 10px;
    padding-bottom: 10px;
}

    .addition-image:hover {
        border-color: #F0597C;
        background-color: #F0597C;
        cursor: pointer;
    }

        .addition-image:hover + span {
            background-color: #F0597C;
            color: #fff;
        }

    .addition-image:first-child {
        margin-left: 0;
    }

    .addition-image img {
        width: 240px;
        height: 350px;
    }

.addition-images-wrapper .make-appointment {
    border: 3px solid #F0597C;
    border-radius: 0px;
    background-color: #F0597C;
    color: #FFF;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
    font-family: nexa-black;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    bottom: 0;
    position: absolute;
    margin-left: 50%;
    left: -130px;
}

    .addition-images-wrapper .make-appointment:hover {
        border: 3px solid #F0597C;
        border-radius: 0px;
        background-color: transparent;
        color: #F0597C;
        text-decoration: none;
    }



@media (max-width: 991px) {
    .product-overview .product {
        width: 48%;
        margin: 0 0 20px 0;
    }

        .product-overview .product:nth-child(1), .product-overview .product:nth-child(4n) {
            clear: none;
        }

        .product-overview .product:nth-child(odd) {
            margin: 0 4% 20px 0;
            clear: left;
        }
}

@media (max-width: 767px) {
    .product-overview .product {
        width: 100%;
    }

        .product-overview .product:nth-child(odd) {
            margin: 0 0 20px 0;
            clear: none;
        }
}
