@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Raleway|Sumana|Niconne');

@font-face {
    font-family: 'nexa-regular';
    src: url('../fonts/nexa/nexa_w01_book.eot');
    src: url('../fonts/nexa/nexa_w01_book.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_w01_book.woff2') format('woff2'), url('../fonts/nexa/nexa_w01_book.woff') format('woff'), url('../fonts/nexa/nexa_w01_book.ttf') format('truetype'), url('../fonts/nexa/nexa_w01_book.svg#nexaw01-bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-light';
    src: url('../fonts/nexa/nexa_light.eot');
    src: url('../fonts/nexa/nexa_light.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_light.woff2') format('woff2'), url('../fonts/nexa/nexa_light.woff') format('woff'), url('../fonts/nexa/nexa_light.ttf') format('truetype'), url('../fonts/nexa/nexa_light.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-bold';
    src: url('../fonts/nexa/nexa_bold.eot');
    src: url('../fonts/nexa/nexa_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_bold.woff2') format('woff2'), url('../fonts/nexa/nexa_bold.woff') format('woff'), url('../fonts/nexa/nexa_bold.ttf') format('truetype'), url('../fonts/nexa/nexa_bold.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-black';
    src: url('../fonts/nexa/nexa_w01_black.eot');
    src: url('../fonts/nexa/nexa_w01_black.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_w01_black.woff2') format('woff2'), url('../fonts/nexa/nexa_w01_black.woff') format('woff'), url('../fonts/nexa/nexa_w01_black.ttf') format('truetype'), url('../fonts/nexa/nexa_w01_black.svg#nexaw01-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: roboto;
    background-color: #fce8e7;
}

    body.white {
        background-color: #FFF;
    }

/*--- Colors ---*/
.white-text {
    color: #fff;
}

.hm-pink {
    background-color: #fac9c4;
}

.hm-pink-text {
    color: #fac9c4;
}

.hm-pink-light {
    background-color: #fce8e7;
}

.hm-pink-light-text {
    color: #fce8e7;
}

.hm-pink-dark {
    background-color: #f0597c;
}

.hm-pink-dark-text {
    color: #f0597c;
}

/*--- Custom beun bootstrap ---*/
.col-md-offset-1-5 {
    margin-left: 12.5%;
}

.row {
    /*fucking bootstrap*/
    margin: 0;
}

a {
    cursor: pointer;
}

/*--- Main structure ---*/
header,
#main_content,
footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

#create_appointment {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0);
}

/*--- Typography ---*/
.font-raleway {
    font-family: Raleway;
}

.font-sumana {
    font-family: Sumana;
}

.font-niconne {
    font-family: Niconne;
}

.font-nexa-regular {
    font-family: nexa-regular;
}

.form-horizontal .control-label {
    text-align: left;
}


/*--- Buttons and inputs ---*/
button,
input[type="submit"],
input:focus,
a:focus,
a:hover,
a:active {
    outline: 0 !important;
}

input.form-control[disabled] {
    cursor: default;
}

input[type="email"], input[type="number"], input[type="password"],
input[type="tel"], input[type="url"], input[type="text"],
input[type="search"], input[type="tel"], input[type="textarea"],
input[type="datetime"], input[type="date"], input[type="datetime-local"],
input[type="number"], input[type="week"], input[type="time"], input[type="month"],
textarea, select, input:-webkit-autofill,
input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    border: 2px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.btn,
button,
input[type="button"],
input[type="button"]:active,
input[type="submit"],
input[type="submit"]:active,
input[type="file"],
input[type="file"]:active,
input[type="reset"],
input[type="reset"]:active,
.button-more-info {
    border: 3px solid #F0597C;
    border-radius: 0px;
    background-color: #F0597C;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
}

    .btn:hover,
    .btn-default:hover,
    button:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="file"]:hover,
    input[type="reset"]:hover,
    .btn:focus,
    .btn-default:focus,
    button:focus,
    input[type="button"]:focus,
    input[type="submit"]:focus,
    input[type="file"]:focus,
    input[type="reset"]:focus,
    .btn:active,
    .btn-default:active,
    button:active,
    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="file"]:active,
    input[type="reset"]:active,
    .btn-default:active:focus {
        border: 3px solid #F0597C;
        border-radius: 0px;
        background-color: transparent;
        text-decoration: none;
        color: #F0597C;
        box-shadow: none;
    }

    .btn:focus,
    .button:focus,
    button:focus,
    input[type="button"]:focus,
    input[type="submit"]:focus,
    input[type="file"]:focus,
    input[type="reset"]:focus {
        padding-top: 8px;
        padding-bottom: 4px;
    }

input[type="checkbox"] {
    background-color: #f0597c;
    border-radius: 0px;
    border: 2px solid #f0597c;
    width: 15px;
    height: 15px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: hidden;
    overflow: hidden;
}

    input[type="checkbox"]:checked {
        background: url('../images/checkbox.png');
        background-size: contain;
        background-color: #f0597c;
    }

input[type=checkbox][disabled] {
    cursor: default;
}

input[type="checkbox"]:checked {
    background-color: #f0597c;
}

input[type="checkbox"]:not(:checked) {
    background: transparent;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: middle;
}

.form-control:focus {
    border-color: #F0597C;
    box-shadow: none;
    -webkit-box-shadow: none;
}

a, button, input {
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
}

/*--- Admin bar ---*/
#admin_bar {
    height: 30px;
}

#admin_menu {
    list-style-type: none;
    margin: 0;
}

    #admin_menu li {
        display: inline-block;
    }

        #admin_menu li a {
            color: #FFF;
            line-height: 30px;
            padding: 0 20px;
            display: block;
        }

            #admin_menu li a:hover {
                background-color: #fac9c4;
                color: #f0597c;
                text-decoration: none;
            }

/*--- Top part of header ---*/
header {
    position: relative;
    z-index: 10;
}

#header_nav,
#header_top {
    width: 100%;
}

#header_top {
    display: flex;
    justify-content: space-between;
}

.loginBtn:hover, .loginBtn:focus {
    text-decoration: none;
    color: #FFF;
}

#choose_website {
    margin-left: 20px;
}

    #choose_website a,
    .phone-number {
        line-height: 60px;
        font-size: 1.2em;
    }

    #choose_website a {
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 10px;
    }

    #choose_website .active {
        color: #000;
    }

#header_contact {
    display: flex;
}

.phone-number {
    padding: 0 15px;
    font-family: Raleway;
}

#search_wrapper {
    max-height: 60px;
    min-width: 70px;
}

#header_search {
    border: 0;
    line-height: 60px; /*todo fix height top header*/
    padding: 0px 70px 0 25px;
    float: left;
    font-size: 1.2em;
    font-family: Raleway;
}

#search_box {
    display: none;
    float: right;
    margin-right: -70px;
}

#header_search_toggle,
#header_search_submit {
    margin-left: -70px;
    width: 70px;
    line-height: 60px;
    background-color: transparent;
    border: 0;
}

#header_search_submit {
    float: left;
}

#header_search_toggle {
    float: right;
    margin-left: 0;
    z-index: 10;
}

/*--- Bottom part of header ---*/
#header_nav {
    padding: 25px 0;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: Sumana;
    font-weight: lighter;
    color: #000;
    font-size: 3.1em;
    line-height: 40px;
    height: auto;
    padding: 0 15px;
    margin-left: 20px;
    text-transform: uppercase;
}

/*--- Menu ---*/
nav ul {
    margin: 0 25px 0 0;
}

nav li {
    display: inline-block;
}

    nav li a {
        text-transform: uppercase;
        color: #000;
        font-size: 1.2em;
        display: block;
        font-weight: bold;
        padding: 0 20px;
        line-height: 40px;
    }

        nav .active a,
        nav li a:hover {
            color: #ef5879;
            text-decoration: none;
        }

        nav li a.hm-pink-dark:hover {
            color: #fff;
        }

        nav li a.make-appointment {
            border: 3px solid #F0597C;
            border-radius: 0px;
            background-color: #F0597C;
            color: #FFF;
        }

            nav li a.make-appointment:hover {
                border: 3px solid #F0597C;
                border-radius: 0px;
                background-color: transparent;
                color: #F0597C;
                text-decoration: none;
            }

/*--- Banner layout ---*/
.layout-with-banner #header_nav {
    position: absolute;
    border: 0;
}

.layout-with-banner nav .active a,
.layout-with-banner nav li a:hover {
    color: #ef5879;
}

.layout-with-banner nav li a.white-text:hover,
.layout-with-banner .navbar-brand,
.layout-with-banner nav li a {
    color: #FFF;
}

/*--- Text banner ---*/
.text-banner {
    text-align: center;
    position: relative;
    min-height: 250px;
}

    .text-banner .banner-bg-title-text {
        width: 100%;
        font-size: 10em;
        font-family: Niconne;
        position: absolute;
        bottom: 20%;
    }

    .text-banner .banner-title-text {
        font-family: Raleway;
        font-size: 3em;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        position: absolute;
        bottom: 20%;
    }


/*--- Content ---*/
.container {
    padding: 15px;
}

.layout-with-banner .container {
    padding: 0;
}

.banner-image {
    max-width: 100%;
    margin: 0;
}

/*--- Home banner ---*/
#home_banner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

    #home_banner img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        z-index: 0;
        opacity: 1;
        transition: opacity 5s ease-in-out;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
    }

.scrollToggle {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    font-size: 1.2em;
}

    .scrollToggle:hover,
    .scrollToggle:focus,
    .scrollToggle:active {
        cursor: pointer;
        color: #f0597c;
    }

/*--- Create Appointment ---*/
#create_appointment {
    height: 450px;
}

.appiontment-wrapper {
    float: left;
    margin-bottom: 50px;
}

.create-appointment-part {
    height: 100%;
    padding: 30px 40px;
}

.appointment-form {
    min-height: 300px;
    font-family: nexa-regular;
}

.create-appointment-part h3 {
    margin-bottom: 25px;
    font-family: nexa-bold;
}
/*--- Left box ---*/
.create-appointment-part .left-box .next-button {
    margin-top: 30px;
}


/*--- Right box ---*/
.create-appointment-part .selected-date-time {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #f27390;
}

.create-appointment-part p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
}


.create-appointment-part .right-box span.glyphicon {
    font-size: 0.65em;
    margin-right: 10px;
    top: 0;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.create-appointment-part .right-box .toggle-btn {
    font-size: 1.2em;
    cursor: pointer;
    float: right;
    font-family: nexa-regular;
    margin: 40px 0 10px 0;
}

.create-appointment-part .right-box .toggle-btn-disabled {
    opacity: 0.4;
    cursor: default;
}

.create-appointment-part .right-box #right_1_time .toggle-btn {
    float: left;
}



/*--- Select time ---*/
#select_time {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


    #select_time input[type="radio"],
    #select_time label {
        cursor: pointer;
    }

    #select_time li {
        line-height: 35px;
    }

    #select_time label {
        font-family: nexa-regular;
        font-size: 1.2em;
        margin: 0 0 0 10px;
        vertical-align: middle;
    }

/*--- Datepicker ---*/
#date_input {
    display: none;
}

.ui-datepicker-calendar,
.ui-datepicker-header {
    width: 100%;
}

.ui-datepicker-header {
    background-color: #f27390;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 40px;
    margin-bottom: 20px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #fff;
    padding: 0 10px;
}

    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        text-decoration: none;
        color: #fff;
    }

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar thead th {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

.ui-datepicker-calendar td span,
.ui-datepicker-calendar td a {
    color: #fff;
    line-height: 30px;
    font-size: 1.1em;
    font-family: nexa-bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ui-datepicker-calendar td span {
    cursor: default;
    opacity: 0.6;
}

.ui-state-active {
    position: relative;
}

    .ui-state-active:before {
        content: "";
        position: absolute;
        border: 2px solid #fff;
        border-radius: 100%;
        width: 33px;
        height: 33px;
        top: -3px;
        left: 50%;
        margin-left: -17px;
        display: block;
    }

/*--- Appointment overview ---*/
.table td:last-child {
    opacity: 0;
}

.table tr:hover td:last-child {
    opacity: 1;
}

.table tr td a {
    padding: 5px;
    margin-left: 5px;
    border: 3px solid #F0597C;
    border-radius: 0px;
    background-color: #F0597C;
    color: #FFF;
}

    .table tr td a:hover {
        border: 3px solid #F0597C;
        border-radius: 0px;
        background-color: transparent;
        color: #F0597C;
        text-decoration: none;
    }

.table thead tr th {
    border-color: #f0597c;
}

.table tbody tr td {
    border-color: #f27390;
}

.detailCard {
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 4px;
    padding-bottom: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.detailCardHead {
    background-color: #f0597c;
    width: 100%;
    color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 25px;
    margin-bottom: 20px;
    text-align: center;
}

    .detailCardHead a {
        color: #FFF;
    }

        .detailCardHead a:hover {
            text-decoration: none;
            color: #fce8e7;
        }

.detailCardBack {
    font-size: 25px;
    float: left;
}

.detailCardAdd {
    float: right;
    line-height: 37px;
    font-size: 17px;
}

/*--- Footer---*/
footer {
    padding: 20px;
    font-family: Raleway;
}

.social-box {
    margin-bottom: 2em;
    height: 170px;
    width: 23%;
    margin-left: 5%;
    position: relative;
}

    .social-box:first-child {
        margin-left: 10.5%;
    }

    .social-box .bg-text {
        z-index: 0;
        position: absolute;
        font-size: 6em;
        width: 100%;
        text-align: center;
        left: 0;
        line-height: 125px;
        opacity: 0.6;
        font-family: Niconne;
    }

    .social-box .front-text {
        font-family: Roboto;
        font-weight: bold;
        margin-top: 80px;
        line-height: 1.1em;
        font-size: 1.7em;
        text-transform: uppercase;
    }

#footer_shop_info {
    font-size: 1.2em;
    margin-bottom: 4em;
}

.footer-wedding-show {
    margin-bottom: 5em;
}

footer h4 {
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 0px;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

    footer ul a {
        color: #696564;
        line-height: 2em;
    }
