@import url('https://fonts.googleapis.com/css?family=Sumana|Niconne');

@font-face {
    font-family: 'nexa-regular';
    src: url('../fonts/nexa/nexa_w01_book.eot');
    src: url('../fonts/nexa/nexa_w01_book.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_w01_book.woff2') format('woff2'), url('../fonts/nexa/nexa_w01_book.woff') format('woff'), url('../fonts/nexa/nexa_w01_book.ttf') format('truetype'), url('../fonts/nexa/nexa_w01_book.svg#nexaw01-bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-light';
    src: url('../fonts/nexa/nexa_light.eot');
    src: url('../fonts/nexa/nexa_light.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_light.woff2') format('woff2'), url('../fonts/nexa/nexa_light.woff') format('woff'), url('../fonts/nexa/nexa_light.ttf') format('truetype'), url('../fonts/nexa/nexa_light.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-bold';
    src: url('../fonts/nexa/nexa_bold.eot');
    src: url('../fonts/nexa/nexa_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_bold.woff2') format('woff2'), url('../fonts/nexa/nexa_bold.woff') format('woff'), url('../fonts/nexa/nexa_bold.ttf') format('truetype'), url('../fonts/nexa/nexa_bold.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-black';
    src: url('../fonts/nexa/nexa_w01_black.eot');
    src: url('../fonts/nexa/nexa_w01_black.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexa_w01_black.woff2') format('woff2'), url('../fonts/nexa/nexa_w01_black.woff') format('woff'), url('../fonts/nexa/nexa_w01_black.ttf') format('truetype'), url('../fonts/nexa/nexa_w01_black.svg#nexaw01-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: nexa-regular;
    background-color: #fce8e7;
}

    body.white {
        background-color: #FFF;
    }

    body.comic-sans * {
        font-family: Comic Sans MS !important;
    }

/*--- Colors ---*/
.white-text {
    color: #fff;
}

.hm-pink {
    background-color: #fac9c4;
}

.hm-pink-text {
    color: #fac9c4;
}

.hm-white-text {
    color: #fff;
}

.hm-white-light-text {
    color: rgba(255,255,255,0.75);
}

.hm-white-transparent-text {
    color: rgba(255, 255, 255, 0.4);
}

.hm-pink-light {
    background-color: #fce8e7;
}

.hm-pink-light-text {
    color: #fce8e7;
}

.hm-pink-dark {
    background-color: #f0597c;
}

.hm-pink-dark-text {
    color: #f0597c;
}

*::selection {
    background-color: #f0597c;
    color: #fff
}

.extra-padding{
    padding:20px 0px;
}

/*--- Custom beun bootstrap ---*/
.col-md-offset-1-5 {
    margin-left: 12.5%;
}

.col-full-width {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -15px;
}

a {
    cursor: pointer;
}

/*--- Main structure ---*/
header,
#main_content,
footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

#create_appointment {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0);
}

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

.img-full-width {
    width: 100%;
    height: auto;
}

body:not(.layout-with-banner) .container > .img-full-width {
    margin: 40px 0 -15px -15px;
}

/*--- Typography ---*/
p {
    font-size: 1.45em;
    line-height: 1.4em;
}

.font-sumana {
    font-family: Sumana;
}

.font-niconne {
    font-family: Niconne;
}

.font-nexa-regular {
    font-family: nexa-regular;
}

.form-horizontal .control-label {
    text-align: left;
    font-size: 1.2em;
}


/*--- Buttons and inputs ---*/
button,
input[type="submit"],
input:focus,
a:focus,
a:hover,
a:active {
    outline: 0 !important;
}

textarea.form-control{
    resize:none;
    border: 2px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    height:100px;
}

input.form-control[disabled] {
    cursor: default;
}

input[type="email"], input[type="number"], input[type="password"],
input[type="tel"], input[type="url"], input[type="text"],
input[type="search"], input[type="tel"], input[type="textarea"],
input[type="datetime"], input[type="date"], input[type="datetime-local"],
input[type="number"], input[type="week"], input[type="time"], input[type="month"],
textarea, input:-webkit-autofill,
input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    border: 2px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

select {
    font-size: 1.2em;
    border: 2px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    height: 40px;
    width: 80%;
    padding: 0 30px 0 10px;
    cursor: pointer;
}

    select:active, select:focus {
        border: 2px solid #F0597C;
        border-radius: 0px;
        box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
    }

.btn,
button,
.upload-image,
input[type="button"],
input[type="button"]:active,
input[type="submit"],
input[type="submit"]:active,
input[type="reset"],
input[type="reset"]:active,
.button-more-info {
    font-family: nexa-black;
    border: 3px solid #F0597C;
    border-radius: 0px;
    background-color: #F0597C;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 30px;
}

.upload-image {
    width: 150px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
}

    .btn:hover,
    .btn-default:hover,
    button:hover,
    .category-button:hover,
    .upload-image:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    .btn:focus,
    .btn-default:focus,
    button:focus,
    input[type="button"]:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    .btn:active,
    .btn-default:active,
    button:active,
    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    .btn-default:active:focus {
        border: 3px solid #F0597C;
        border-radius: 0px;
        background-color: transparent;
        text-decoration: none;
        color: #F0597C;
        box-shadow: none;
    }

.btn:focus,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    padding-top: 8px;
    padding-bottom: 4px;
}

.btn .glyphicon-right {
    margin-left: 10px;
}

input[type="checkbox"] {
    background-color: #f0597c;
    border-radius: 0px;
    border: 2px solid #f0597c;
    width: 15px;
    height: 15px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: hidden;
    overflow: hidden;
}

    input[type="checkbox"]:checked {
        background: url('../images/checkbox.png');
        background-size: contain;
        background-color: #f0597c;
    }

input[type=checkbox][disabled] {
    cursor: default;
    filter: brightness(2.6);
}

input[type="checkbox"]:checked {
    background-color: #f0597c;
}

input[type="checkbox"]:not(:checked) {
    background: transparent;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: middle;
}

.form-control:focus {
    border-color: #F0597C;
    box-shadow: none;
    -webkit-box-shadow: none;
}

a, button, input {
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
}

.pull-right{
    margin-right:10%;
}

/*--- Admin bar ---*/
#admin_bar {
    height: 30px;
}

#admin_menu {
    list-style-type: none;
    margin: 0;
}

    #admin_menu li {
        display: inline-block;
    }

        #admin_menu li a {
            color: #FFF;
            line-height: 30px;
            padding: 0 20px;
            display: block;
        }

            #admin_menu li a:hover {
                background-color: #fac9c4;
                color: #f0597c;
                text-decoration: none;
            }

/*--- Top part of header ---*/
header {
    position: relative;
    z-index: 10;
}

#header_nav,
#header_top {
    width: 100%;
}

#header_top {
    display: flex;
    justify-content: space-between;
}

.loginBtn:hover, .loginBtn:focus {
    text-decoration: none;
    color: #FFF;
}

#choose_website {
    margin-left: 20px;
}

    #choose_website a,
    .phone-number {
        line-height: 60px;
        font-size: 1.2em;
    }

    #choose_website a {
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 10px;
    }

    #choose_website .active {
        color: #000;
    }

#header_contact {
    display: flex;
    justify-content: space-between;
}

.phone-number {
    padding: 0 15px;
    font-family: nexa-black;
}

#search_wrapper {
    max-height: 60px;
    min-width: 70px;
}

#header_search {
    border: 0;
    line-height: 60px; /*todo fix height top header*/
    padding: 0px 70px 0 25px;
    float: left;
    font-size: 1.2em;
    font-family: nexa-regular;
}

#search_box {
    display: none;
    float: right;
    margin-right: -70px;
}

#header_search_toggle,
#header_search_submit {
    margin-left: -70px;
    width: 70px;
    line-height: 60px;
    background-color: transparent;
    border: 0;
    padding: 0 !important;
}

#header_search_submit {
    float: left;
}

#header_search_toggle {
    float: right;
    margin-left: 0;
    z-index: 10;
}

/*--- Bottom part of header ---*/
#header_nav {
    padding: 25px 0;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: Sumana;
    font-weight: lighter;
    color: #000;
    font-size: 3.1em;
    height: 46px;
    width: auto;
    padding: 0 15px;
    margin-left: 20px;
    text-transform: uppercase;
}

/*--- Menu ---*/
nav ul {
    margin: 0 25px 0 0;
}

nav li {
    display: inline-block;
}

    nav li a {
        text-transform: uppercase;
        color: #000;
        font-size: 1.15em;
        display: block;
        font-weight: bold;
        padding: 0 13px;
        line-height: 40px;
        font-family: nexa-black;
    }

        nav .active a,
        nav li a:hover {
            color: #ef5879;
            text-decoration: none;
        }

        nav li a.hm-pink-dark:hover {
            color: #fff;
        }

        nav li a.make-appointment {
            border: 3px solid #F0597C;
            border-radius: 0px;
            background-color: #F0597C;
            color: #FFF;
        }

            nav li a.make-appointment:hover {
                border: 3px solid #F0597C;
                border-radius: 0px;
                background-color: transparent;
                color: #F0597C;
                text-decoration: none;
            }

/*--- Banner layout ---*/
.layout-with-banner #header_nav {
    position: absolute;
    border: 0;
}

.layout-with-banner nav li.active a:not(.make-appointment),
.layout-with-banner nav li a:not(.make-appointment):hover {
    color: #ef5879;
}

.layout-with-banner nav li a.white-text:hover,
.layout-with-banner .navbar-brand,
.layout-with-banner nav li a {
    color: #FFF;
}

/*--- Text banner ---*/
.text-banner {
    text-align: center;
    position: relative;
    min-height: 300px;
    z-index: 7;
}

    .text-banner .banner-bg-title-text {
        width: 100%;
        height: 1em;
        overflow: hidden;
        font-size: 12em;
        font-family: Niconne;
        position: absolute;
        bottom: 20%;
    }

    .text-banner .banner-title-text {
        font-family: nexa-black;
        font-size: 3em;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        position: absolute;
        bottom: 20%;
    }

    .text-banner .banner-title-text2 {
        font-family: nexa-black;
        font-size: 3em;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        position: absolute;
        bottom: 5%;
    }

#banner {
    overflow: hidden;
    position: relative;
    height: 485px;
}
/*--- Home banner ---*/
#home_banner {
    height: 100vh;
    width: 100%;
    min-height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

    #banner img,
    #home_banner img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        z-index: 0;
        opacity: 1;
        transition: opacity 5s ease-in-out;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
    }

.scrollToggle {
    width: 150px;
    bottom: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    height: 4em;
    margin-left: -75px;
}

    .scrollToggle:hover,
    .scrollToggle:focus,
    .scrollToggle:active {
        cursor: pointer;
        color: #f0597c;
    }

        .scrollToggle:hover .scroll-down-icon,
        .scrollToggle:focus .scroll-down-icon,
        .scrollToggle:active .scroll-down-icon {
            border-top-color: #f0597c;
        }

.scroll-down-icon {
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
    width: 0;
    height: 0;
    content: '';
    border-top: 15px solid #fff;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
}

.home-button-container {
    width: 40%;
    height: 65px;
    margin: auto;
    display: block;
    z-index: 7;
    bottom: 25%;
    position: absolute;
    max-width: 100%;
    left: 50%;
    margin-left: -20%;
}

    .home-button-container a {
        width: 45%;
        font-family: nexa-black;
        background-color: transparent;
        color: #fff;
        border: 5px solid #fff;
        text-transform: uppercase;
        display: inline-block;
        line-height: 55px;
        text-align: center;
        font-size: 1.7em;
    }

        .home-button-container a:first-child {
            margin-right: 9%;
            border: 5px solid #F0597C;
            background-color: #F0597C;
        }

        .home-button-container a:hover,
        .home-button-container a:active,
        .home-button-container a:focus {
            background-color: #fff;
            color: #f0597c;
            text-decoration: none;
        }

        .home-button-container a:first-child:hover,
        .home-button-container a:first-child:active,
        .home-button-container a:first-child:focus {
            background-color: transparent;
            text-decoration: none;
        }

/*--- Home banner text ---*/
#home_banner .home-text-banner {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 75px;
    z-index: 7;
}

.banner-bg-title-text {
    width: 100%;
    font-size: 13em;
    font-family: Niconne;
    position: absolute;
    bottom: 20%;
}

#home_banner .home-text-banner {
    bottom: 40%;
}

.home-text-banner .banner-bg-title-text {
    width: 100%;
    font-size: 13em;
    font-family: Niconne;
    position: absolute;
    bottom: 21%;
}

.home-text-banner .banner-title-text {
    font-family: nexa-regular;
    font-size: 2.5em;
    width: 100%;
    position: absolute;
    bottom: 25%;
}

.home-text-banner .banner-undertitle-text {
    font-family: Roboto;
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 15%;
}

.home-text-banner .banner-undertitle-text {
    font-family: nexa-black;
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 12%;
}

@media screen and (max-height: 680px) {
    #home_banner .home-text-banner {
        bottom: 30%;
    }

    .home-button-container {
        bottom: 20%;
    }
}

.appointment-banner-container {
    width: 85%;
    min-height: 550px;
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}

.appointment-banner-image-container {
    width: 100%;
    height: 550px;
    position: absolute;
}

    .appointment-banner-image-container img {
        width: 65%;
        height: 480px;
        position: absolute;
    }

.appointment-banner-text-outer-wrapper {
    width: 100%;
    height: 270px;
    position: absolute;
    bottom: 0;
}

.appointment-banner-image-text {
    display: block;
    font-family: nexa-black;
    position: absolute;
    width: 250px;
    height: 30px;
    text-transform: uppercase;
    font-size: 1.7em;
    padding-left: 20px;
    margin-left: 25px;
}

    .appointment-banner-image-text.pinkTheme:before {
        position: absolute;
        margin-left: -25px;
        width: 0;
        height: 0;
        content: '';
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-top: 5px;
        line-height: 40px;
        text-align: center;
    }

    .appointment-banner-image-text.pinkTheme:before {
        border-left: 15px solid #f0597c;
    }

    .appointment-banner-image-text.blueTheme:before {
        border-left: 15px solid #1a91be;
    }

.appointment-banner-card {
    position: absolute;
    background-color: #fff;
    width: 350px;
    height: 220px;
    font-size: .9em;
    padding: 30px;
    margin-top: 40px;
}

.appointment-banner-text-wrapper {
    height: 260px;
    width: 350px;
    position: absolute;
    bottom: 0;
    margin-left: 27%;
}

.appointment-banner-counter-wrapper {
    width: 65%;
    height: 100px;
    bottom: 0;
    position: absolute;
    margin-bottom: 70px;
}

.appointment-banner-image-counter-container {
    position: relative;
    bottom: 0;
    font-size: 4.8em;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: nexa-black;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 50px;
}

    .appointment-banner-image-counter-container.pinkTheme {
        background-color: #f0597c;
    }

    .appointment-banner-image-counter-container.blueTheme {
        background-color: #1a91be;
    }

.home-list ol {
    list-style-type: none;
    counter-reset: pinkListCounter;
    margin-left: 0px;
    background-color: #fff;
    font-family: nexa-regular;
    font-weight: bold;
    width: 320px;
}


    .home-list ol li {
        color: #000;
        width: 300px;
        font-size: 1.5em;
        padding-top: 30px;
    }

        .home-list ol li:before {
            position: absolute;
            margin-left: -50px;
            content: counter(pinkListCounter);
            counter-increment: pinkListCounter;
            margin-top: -5px;
            color: #fff;
            font-family: nexa-black;
            font-size: 1.2em;
            line-height: normal;
            background-color: #d1d2d4;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50px;
        }

        .home-list ol li:hover {
            cursor: pointer;
        }

.home-list .pinkTheme .active {
    color: #f0597c;
}

.home-list .blueTheme .active {
    color: #1a91be;
}

.home-list .pinkTheme .active:before {
    background-color: #f0597c;
}

.home-list .blueTheme .active:before {
    background-color: #1a91be;
}

/*--- Content ---*/
.container {
    padding: 15px;
}

.layout-with-banner .container {
    padding: 0;
}

.banner-image {
    max-width: 100%;
    margin: 0;
}

/*--- Create Appointment ---*/
#create_appointment {
    height: 450px;
}

.appiontment-wrapper {
    float: left;
    margin-bottom: 50px;
}

.create-appointment-part {
    height: 100%;
    padding: 30px 40px;
}

.appointment-form {
    min-height: 300px;
}

.create-appointment-part h3 {
    margin-bottom: 25px;
    font-family: nexa-bold;
}

/*--- Left box ---*/
.create-appointment-part .left-box .next-button {
    margin-top: 30px;
}

.create-appointment-part .left-box .opening-times {
    font-size: 1.4em;
    margin-top: 30px;
}

.opening-times .times {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10px;
}

.opening-times label {
    width: 60px;
    font-family: nexa-black;
}

/*--- Right box ---*/
.create-appointment-part .selected-date-time {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-family: nexa-black;
    font-size: 1.3em;
    background-color: #f27390;
}

.create-appointment-part {
    line-height: 1.4em;
    font-weight: 300;
}

    .create-appointment-part .right-box span.glyphicon {
        font-size: 0.65em;
        margin-right: 10px;
        top: 0;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    .create-appointment-part .right-box p {
        font-size: 1.3em;
        line-height: 1.4em;
    }

    .create-appointment-part .right-box .toggle-btn {
        font-size: 1.1em;
        cursor: pointer;
        float: right;
        margin: 40px 0 10px 0;
    }

        .create-appointment-part .right-box .toggle-btn.previous-btn {
            float: left;
        }

    .create-appointment-part .right-box .toggle-btn-disabled {
        opacity: 0.4;
        cursor: default;
    }

    .create-appointment-part .right-box #right_1_time .toggle-btn {
        float: left;
    }

/*--- Step image---*/
#appointment_step_image {
    margin: 40px 0 30px 0;
}

/*--- Select time ---*/
#select_time {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    #select_time input[type="radio"],
    #select_time label {
        cursor: pointer;
    }

    #select_time li {
        line-height: 35px;
    }

    #select_time label {
        font-family: nexa-regular;
        font-size: 1.2em;
        margin: 0 0 0 10px;
        vertical-align: middle;
    }

/*--- Datepicker ---*/
#date_input {
    display: none;
}

.ui-datepicker-calendar,
.ui-datepicker-header {
    width: 100%;
}

.ui-datepicker-header {
    background-color: #f27390;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 40px;
    margin-bottom: 20px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #fff;
    padding: 0 10px;
}

    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        text-decoration: none;
        color: #fff;
    }

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
    font-family: nexa-black;
}

.ui-datepicker-calendar thead th {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

.ui-datepicker-calendar td span,
.ui-datepicker-calendar td a {
    color: #fff;
    line-height: 30px;
    font-size: 1.1em;
    font-family: nexa-bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ui-datepicker-calendar td span {
    cursor: default;
    opacity: 0.6;
}

.create-appointment-part .ui-state-active {
    position: relative;
}

    .create-appointment-part .ui-state-active:before {
        content: "";
        position: absolute;
        border: 2px solid #fff;
        border-radius: 100%;
        width: 33px;
        height: 33px;
        top: -3px;
        left: 50%;
        margin-left: -17px;
        display: block;
    }

/*--- Create appointment form overview ---*/
.form-overview {
    margin: 20px 0 40px;
    font-size: 1.25em;
}

/*--- Appointment overview ---*/
.table td:last-child {
    opacity: 0;
}

.table tr:hover td:last-child {
    opacity: 1;
}

.table tr td a {
    padding: 5px;
    margin-left: 5px;
    border: 3px solid #F0597C;
    border-radius: 0px;
    background-color: #F0597C;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}

    .table tr td a:hover,
    .table tr td a:active,
    .table tr td a:focus {
        border: 3px solid #F0597C;
        border-radius: 0px;
        background-color: transparent;
        color: #F0597C;
        text-decoration: none;
    }

.table thead tr th {
    border-color: #f0597c;
}

.table tbody tr td {
    border-color: #f27390;
}

/*--- Appointment details ---*/
.detailcard {
    border-radius: 4px;
    padding: 0 0 25px 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

.detailcard-head {
    background-color: #f0597c;
    width: 100%;
    color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 25px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

    .detailcard-head h4 {
        width: 100%;
        display: block;
        text-align: center;
    }

    .detailcard-head a {
        position: absolute;
        color: #FFF;
        display: block;
    }

        .detailcard-head a:hover,
        .detailcard-head a:focus,
        .detailcard-head a:active {
            text-decoration: none;
            color: #fce8e7;
        }

.detailcard-back {
    font-size: 25px;
    left: 20px;
}

.detailcard-add {
    right: 20px;
    line-height: 37px;
    font-size: 17px;
}

/*--- Footer---*/
footer {
    padding: 70px 20px 20px 20px;
    font-family: nexa-regular;
}

.social-box {
    margin-bottom: 2em;
    height: 170px;
    width: 23%;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
    transition: all .15s ease-in-out;
}

    .social-box:active,
    .social-box:focus,
    .social-box:hover {
        transform: scale(1.02);
        color: #fff;
        text-decoration: none;
    }

    .social-box:first-child {
        margin-left: 10.5%;
    }

    .social-box .bg-text {
        z-index: 0;
        position: absolute;
        font-size: 6em;
        width: 100%;
        text-align: center;
        left: 0;
        line-height: 125px;
        opacity: 0.6;
        font-family: Niconne;
    }

    .social-box .front-text {
        font-family: nexa-black;
        font-weight: bold;
        margin-top: 80px;
        line-height: 1.1em;
        font-size: 1.7em;
        text-transform: uppercase;
    }

#footer_shop_info {
    font-size: 1.2em;
    margin-bottom: 4em;
}

.footer-wedding-show {
    margin-bottom: 5em;
}

footer h4 {
    font-weight: bold;
    font-family: nexa-black;
    margin-bottom: 0px;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

    footer ul a {
        color: #696564;
        line-height: 1.6em;
        font-size: 1.2em;
    }

.titanic .groetjes-tim {
    float: none;
}

.loading-overlay {
    position: absolute;
    z-index: 99998;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}

.loading-indicator {
    position: absolute;
    width: 62px;
    height: 62px;
    z-index: 99999;
    background: url(/images/loading.gif);
}

.date-container,
.time-container {
    height: 280px !important;
}

#select_time i {
    line-height: 50px;
    text-align: center;
    font-size: 110%;
    font-style: italic;
    font-weight: bold;
}


/*--- News ---*/

/*--- Category buttons ---*/
.category-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.category-button {
    display: block;
    color: #000;
    border: 3px solid #333;
    padding: 0 15px;
    margin: 0 5px;
    line-height: 35px;
    font-family: nexa-bold;
    font-size: 1.6em;
}

/*--- Articles overview ---*/
.news-article-wrap {
    margin: 0 0 50px 3%;
}

    .news-article-wrap a {
        color: #333;
        text-decoration: none;
    }

.news-article {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(200,200,200, 0.6);
    -moz-box-shadow: 0px 0px 20px 0px rgba(200,200,200, 0.6);
    box-shadow: 0px 0px 20px 0px rgba(200,200,200, 0.6);
    height: 470px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .2s;
}

    .news-article:hover {
        transform: scale(1.008);
        -webkit-box-shadow: 0px 0px 25px 0px rgba(200,200,200, 0.6);
        -moz-box-shadow: 0px 0px 25px 0px rgba(200,200,200, 0.6);
        box-shadow: 0px 0px 25px 0px rgba(200,200,200, 0.6);
    }

.news-article-top {
    padding: 10px 30px;
    width: 100%;
}

.news-article h2 {
    font-family: nexa-black;
    font-size: 1.15em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

    .news-article h2 img {
        margin: -9px 0 0 10px;
        text-align: left;
    }

.news-article hr {
    width: 45%;
    margin-right: 53%;
    float: left;
    border: 2px solid #ba55d3;
}

.news-article p {
    font-size: 1.7em;
    font-family: nexa-light;
}

.news-article .img-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
    align-self: flex-end;
    background-size: cover;
    background-position: center;
}

/*--- Single Article ---*/
.single-article-image {
    display: block;
    margin: 0 auto;
    max-height: 600px;
    max-width: 100%;
}

.single-article-content {
    margin-top: 30px;
    font-size: .9em;
    font-family: nexa-light;
}

@media (max-width: 991px) {

    /*--- Header ---*/
    #header_top #choose_website,
    #header_top #search_wrapper {
        display: none;
    }

    #header_nav,
    .layout-with-banner #header_nav {
        position: relative;
        display: none;
    }

    .layout-with-banner nav li a:not(.make-appointment) {
        color: #333;
    }

    #header_nav .header-nav-logo {
        width: 100%;
        float: left;
        display: block;
    }

    #header_nav .navbar-brand {
        width: 80%;
        max-width: 400px;
        height: auto;
        margin: 0 auto 20px;
        float: none;
        display: block;
    }

    #header_contact {
        width: 100%;
    }

    #menu_toggle {
        line-height: 60px;
        width: 60px;
        font-size: 30px;
        color: #FFF;
        text-align: center;
        cursor: pointer;
    }

    /*--- Navigation ---*/
    nav ul {
        width: 95%;
        margin: 0 2.5%;
        padding: 0;
    }

    nav li {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    /*--- Bannert ---*/
    .home-button-container {
        width: 60%;
        margin-left: -30%;
    }

        .home-button-container a {
            width: 100%;
            margin: 10px 0 0;
        }

    .text-banner {
        min-height: 250px;
        font-size: 1rem;
    }

        .text-banner .banner-bg-title-text {
            font-size: 9em;
        }

        /*--- Category overview ---*/
        .category-buttons {
            flex-direction: column;
        }

        .category-button {
            margin: 5px 0;
            width: 100%;
        }

    /*--- Footer ---*/
    .social-box:first-child,
    .social-box {
        width: 90%;
        float: left;
        margin: 10px 5%;
    }

    .col-md-offset-1-5 {
        margin-left: 0;
    }

    footer h4,
    footer ul {
        text-align: center;
    }

    footer h4 {
        margin-top: 35px;
    }
}


@media (min-width: 992px) {
    #menu_toggle {
        display: none;
    }

    /*Make sure the nav is always displaying on deskop, even after toggling on a small screen*/
    #header_nav {
        display: flex !important;
    }

    .col-md-3-5 {
        width: 29.166666%;
    }
}

/*--- Product Buttons ---*/

.create-btn {
    margin-top: -50px;
    margin-bottom: 50px;
}

.product-button {
    display: inline-block;
    float: left;
    margin-left: 25px;
    height: 75px;
}

    .product-button:first-child {
        margin-left: 0;
    }

/*--- CSS Animations for the product catalog ---*/
@-webkit-keyframes productCatalogEnter {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.95, .95, .95) translate3d(0, -25px, 0);
        transform: scale3d(.95, .95, .95) translate3d(0, -25px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.98, .98, .98) translate3d(0, -8px, 0);
        transform: scale3d(.98, .98, .98) translate3d(0, -8px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes productCatalogEnter {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.95, .95, .95) translate3d(0, -25px, 0);
        transform: scale3d(.95, .95, .95) translate3d(0, -25px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.98, .98, .98) translate3d(0, -8px, 0);
        transform: scale3d(.98, .98, .98) translate3d(0, -8px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animate-product-catalog-enter {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: productCatalogEnter;
    animation-name: productCatalogEnter;
}

@-webkit-keyframes productCatalogLeave {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(.95, .95, .95) translate3d(0, 10px, 0);
        transform: scale3d(.95, .95, .95) translate3d(0, 10px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.9, .9, .9) translate3d(0, 50px, 0);
        transform: scale3d(.9, .9, .9) translate3d(0, 50px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
}

@keyframes productCatalogLeave {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(.95, .95, .95) translate3d(0, 10px, 0);
        transform: scale3d(.95, .95, .95) translate3d(0, 10px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.9, .9, .9) translate3d(0, 50px, 0);
        transform: scale3d(.9, .9, .9) translate3d(0, 50px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
}

.animate-product-catalog-leave {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: productCatalogLeave;
    animation-name: productCatalogLeave;
}

.filters-container h3 {
    outline: none;
}

.filters-container .glyphicon {
    margin-right: 6px;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

    .filters-container .glyphicon.active {
        -ms-transform: rotate(90deg) scale(0.75);
        -webkit-transform: rotate(90deg) scale(0.75);
        transform: rotate(90deg) scale(0.75);
    }

.filters-container #filter-price-slider {
    margin-top: 12px;
}

.filters-container #filter-price-amount {
    width: 100%;
    border: 0;
    font-weight: normal;
    text-align: center;
    margin-top: 12px;
}

.filters-container ul {
    padding-left: 0;
}

    .filters-container ul li {
        list-style: none;
        margin-left: 0;
    }

.product-filters h4 {
    font-weight: bold;
}

.ui-accordion-header {
    color: inherit !important;
    background-color: #F6F6F6 !important;
    -ms-border-left: none !important;
    border-left: none !important;
    -ms-border-right: none !important;
    border-right: none !important;
    -ms-border-color: #D2D1D6 !important;
    border-color: #D2D1D6 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-accordion-content-active {
    border: none !important;
    overflow-y: scroll;
    max-height: 560px;
}

.ui-slider-handle {
    margin-top: -5px;
    width: 22px !important;
    height: 22px !important;
    -ms-border-color: #FAC9C4 !important;
    border-color: #FAC9C4 !important;
    -ms-border-radius: 11px !important;
    border-radius: 11px !important;
}

.ui-slider-horizontal {
    height: 4px !important;
    background-color: #D1D2D4 !important;
    border: none !important;
}

.ui-slider-range {
    height: 4px !important;
    background-color: #FAC9C4 !important;
    border: none !important;
}

.ui-accordion-header .ui-accordion-header-icon {
    top: 3px;
    right: 3px;
    float: right;
    background-image: url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_555555_256x240.png") !important;
    -ms-background-position: -64px -16px !important;
    background-position: -64px -16px !important;
}

.ui-accordion-header-active .ui-accordion-header-icon {
    -ms-background-position: 0px -16px !important;
    background-position: 0px -16px !important;
}

.product-overview-options .select-label {
    line-height: 40px;
    margin-right: 14px !important;
}

.product-overview-options #filters-sort {
    width: 220px;
}

.social-buttons {
    margin: 50px 0 25px 0;
    display: flex;
    justify-content: center;
}

.social-buttons a {
    margin: 0 10px;
}

.social-buttons a:hover {
    transform: scale(1.05);
}