@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900|Raleway|Sumana');

body {
    font-family: roboto;
}

/*--- Colors ---*/
.white-text {
     color: #fff;
}

.hm-pink {
     background-color: #fac9c4;
}

.hm-pink-text {
    color: #fac9c4;
}

.hm-pink-light {
    background-color: #fce8e7;
}

.hm-pink-light-text {
    color: #fce8e7;
}

.hm-pink-dark {
    background-color: #f0597c;
}

.hm-pink-dark-text {
    color: #f0597c;
}

/*--- Top part of header ---*/
#header_top,
#header_nav,
#main_content,
footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

#header_top {
    display: flex;
    justify-content: space-between;
}

#choose_website {
    margin-left: 20px;
}

#choose_website a,
.phone-number {
    line-height: 60px;
    font-size: 1.2em;
}

#choose_website a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
}

#choose_website .active {
    color: #000;
}

.phone-number {
    padding: 0 15px;
    font-family: Raleway;
}

/*--- Bottom part of header ---*/
#header_nav {
    padding: 25px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: Sumana;
    font-weight: lighter;
    color: #000;
    font-size: 3em;
    line-height: 40px;
    height: auto;
    padding: 0 15px;
    margin-left: 20px;
    text-transform: uppercase;
}

/*--- Menu ---*/
nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    text-transform: uppercase;
    color: #000;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    padding: 0 20px;
    line-height: 40px;
}

nav .active a,
nav li a:hover {
     color: #ef5879;
}

nav li a.hm-pink-dark:hover {
     color: #fff;
}

/*--- Content ---*/

/*--- Footer---*/
footer {
    padding: 20px;
    font-family: Raleway;
}

#footer_shop_info {
    font-size: 1.2em;
    margin-bottom: 3em;
}

footer h4 {
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 0px;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul a {
    color: #696564;
    line-height: 2em;
}