@model IEnumerable<hhs_p6_webshop_project.Models.NewsModels.NewsCategoryView>

@{
    ViewData["Title"] = "Blog - Categorieen";
    ViewData["PinkBackground"] = true;
}

@if (User.Identity.IsAuthenticated)
{
    <a class="btn" asp-action="Create">Maak nieuwe categorie aan</a>
    <a class="btn" asp-action="Create" asp-controller="NewsArticles">Maak nieuw artikel aan</a>
    <a class="btn" asp-action="Index" asp-controller="NewsArticles">Bekijk alle artikelen in lijst</a>
}

<div class="text-banner">
    <h1 class="banner-bg-title-text hm-pink-light-text">Blog</h1>
    <h2 class="banner-title-text">Blijf op de hoogte over</h2>
    <h2 class="banner-title-text2">de bruidswereld</h2>
</div>

<div class="category-buttons">
    @{
        foreach (var nc in Model)
        {
            <a class="category-button" asp-action="Details" asp-route-id="@nc.NewsCategory.NewsCategoryID">
                @nc.NewsCategory.Name
            </a>
        }
    }
</div>

<h2 class="text-center">Kies hierboven een van de categorie&euml;n</h2>