@{
    ViewData["Title"] = "E-Mail bevestigen";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Bedankt voor het bevestigen van je e-mail.
        <a asp-controller="Account" asp-action="Login">Klik hier om in te loggen</a>.
    </p>
</div>