@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Registreren";
}

<h2>@ViewData["Title"].</h2>
<h3>Koppel je @ViewData["LoginProvider"] account.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4></h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        Je bent succesvol geregistreerd met jouw <strong>@ViewData["LoginProvider"]</strong> account.
        Vul aub een e-mail adres in voor de Honeymoon Shop en klik op registreer om door te gaan.
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Registreer</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}