@model hhs_p6_webshop_project.Models.ProductModels.PropertyValueCoupling

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PropertyValueCoupling</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
