@{
    ViewData["Title"] = "About";
}

@section BodyClass {layout-banner}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
  <div class="col-md-4">
    <h2>Lorem Ipsum</h2>
    <p>
      Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
      Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
      toen een onbekende drukker een zethaak met letters nam
    </p>
    <p><a class="btn btn-default" href="https://www.dennisvolkering.nl" target="_blank">Beun meer!</a></p>
  </div>
  <div class="col-md-4">
    <h2>Dolor sit</h2>
    <p>
      Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
      Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Met beun &amp; co</a></p>
  </div>
  <div class="col-md-4">
    <h2>Amet</h2>
    <p>
      Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
      Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
      toen een onbekende drukker een zethaak met letters nam
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">5ml</a></p>
  </div>
</div>
