@{
    ViewData["Title"] = "Contact";

    ViewData["ShowHomeBanner"] = true;
    ViewData["BannerPath"] = "/images/mooi-meisje-2.jpg";
    ViewData["HomeBannerBgTitle"] = "Bruid";
    ViewData["HomeBannerSmallTitle"] = "Op zoek naar de perfecte jurk";
    ViewData["HomeBannerBoldTitle"] = "Van begin tot eind kunnen wij jou helpen.";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
