@{
    ViewData["Title"] = "Contact";
}

@section BodyClass {layout-with-banner}

<img class="banner-image" src="~/images/banner.png" alt="banner"/>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
