@{
ViewBag.Title = "Home Page";
}

@section BodyClass {layout-banner}

<img class="banner-image" src="~/images/banner.png" alt="banner"/>

<div class="row">
     <div class="col-md-4">
          <h2>Lorem Ipsum</h2>
          <p>
               Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
               Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
               toen een onbekende drukker een zethaak met letters nam
          </p>
          <p><a class="btn btn-default" href="https://www.dennisvolkering.nl" target="_blank">Naar de ontwikkelaar.</a></p>
     </div>
     <div class="col-md-4">
          <h2>Dolor sit</h2>
          <p>
               Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
               Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw
          </p>
          <p><a class="btn btn-default" href="https://www.timvisee.com" target="_blank">Een andere ontwikkelaar</a></p>
     </div>
     <div class="col-md-4">
          <h2>Amet</h2>
          <p>
               Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.
               Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
               toen een onbekende drukker een zethaak met letters nam
          </p>
          <p><a class="btn btn-default" href="http://www.rick-soft.com/" target="_blank">En nog een andere</a></p>
     </div>
</div>