@{
    ViewBag.Title = "Bedankt!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dankjewel!</h2>
<p>Je bericht is goed door ons ontvangen. Je zult een bevestiging krijgen op het e-mail adres dat je hebt ingevuld. Wij zullen zo snel mogelijk contact met je opnemen.</p>