@model hhs_p6_webshop_project.Models.AppointmentModels.AppointmentTime

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppointmentTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Bewerk</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
